.parallax {
  position: relative;
  overflow: hidden;
  width: 100vw;
  display: flex;
  align-items: center;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
  will-change: transform;
}

.scroller span {
  flex-shrink: 0;
  margin-right: 4rem;
  color: #fff;
}

.scroll-velocity {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1e;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 8rem;
  }
  
  .scroller span {
    margin-right: 6rem;
  }
}